/* General CSS with mobile first approach */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgb(177, 175, 175);
  font-size: 12px;
  background-color: tomato;
}

/* header */
header {
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

header h1 {
  font-size: 32px;
}

.total-movies {
  position: relative;
  left: -10px;
  top: 5px;
}

/* logo */
.logo {
  height: 48px;
}

.counter {
  font-size: 20px;
}

/* movie display style */
.movie-list-container {
  padding: 2% 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  margin-bottom: 100px;
  overflow: hidden;
  width: fit-content;
}

.movie-list-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.movie-title-header h4 {
  font-size: 16px;
  color: #ddd;
}

h5 {
  color: #ffa000;
  font-size: 0.9em;
  margin-top: 0.5em;
}

.movie-title-header {
  padding: 2% 1%;
  display: flex;
  justify-content: space-between;
}

.liked {
  color: red;
}

.likes-counter-container {
  align-self: end;
}

.btn {
  height: 40px;
}

.like-btn {
  background: none;
  border: none;
}

/* footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin: 0;
  border-top: 2px solid grey;
}

.popup {
  background-color: aqua;
  width: 420px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 0%;
  top: 0%;
  border-radius: 8px;
  display: none;
  font-family: “Poppins”, sans-serif;
  text-align: center;
}

.close {
  background-color: turquoise;
  color: white;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  z-index: 1;
}

#box {
  width: 50%;
  height: auto;
  background: black;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 10%;
  left: 10%;
  z-index: 99999;
  padding: 10px;
}

#box > div {
  margin-top: 1.5em;
}

button {
  margin-top: 5px;
  padding: 5px 8px;
  outline: none;
  background: hsl(9, 99%, 49%);
  border: 1px solid rgb(201, 30, 0);
  border-radius: 5px;
  font-size: 1.2em;
  color: rgb(233, 229, 229);
}

button:hover {
  background-color: #ffa000;
  cursor: pointer;
}

h3 {
  color: #ffa000;
  font-size: 2em;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

p {
  text-align: center;
  margin-top: 1.5em;
}

.input {
  font-size: 1em;
  font-family: inherit;
  height: 50%;
  padding: 8px;
  width: 100%;
  margin-top: 1em;
}

.textarea {
  font-size: 1em;
  font-family: inherit;
  padding: 8px;
  height: 50%;
  margin-top: 1.5em;
  width: 100%;
}

.closeBtn {
  display: flex;
  justify-content: right;
  width: 100%;
}
